.fa-react:hover {
    color: #00d8ff;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-react {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-java:hover {
    color: #f56301;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-java {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-html5:hover {
    color: #f56301;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-html5 {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-css3:hover {
    color: #00a2ff;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-css3 {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-sass:hover {
    color: #f50101;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-sass {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-vuejs:hover {
    color: #0aa02b;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-vuejs {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-js:hover {
    color: #ffd208;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-js {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-python:hover {
    color: #004db1;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-python {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  
  
  
  
  
  
  
  