@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');
.main-font {
    font-family: 'Blinker', sans-serif;
}
.container-flex {
    display: flex;
    flex-direction: column;
  }
.container-space-around {
    display: flex;
    justify-content: space-around;
}
.center {
    display: flex;
    justify-content: center; 
}
.line-box {
    border-radius: 15px 50px 30px;
    border: 2px solid #73AD21;
    padding: 1.5%; 
  }
.icon{
    padding: 10%;
    font-size: 3.5vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}
.nameCap {
    padding: 5%;
    text-align: center;
}
.info {
    padding-top: 5%;
}
.text-centered {
    text-align: center;
}

.footer-box { 
    padding: 1%;
    font-size: 0.75vw;
    display: flex;
    background-color: rgba(16, 106, 241, 0.719);
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 3px 5px #000000;
}
.content-box {
    box-shadow: 10px 10px 40px rgba(39, 72, 163, 0.507);
    border: 2px solid rgba(204, 204, 204, 0.062);
}
.info-font {
    font-size: 16px;
}

.fa-react:hover {
    color: #00d8ff;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-react {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-java:hover {
    color: #f56301;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-java {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-html5:hover {
    color: #f56301;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-html5 {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-css3:hover {
    color: #00a2ff;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-css3 {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-sass:hover {
    color: #f50101;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-sass {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-vuejs:hover {
    color: #0aa02b;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-vuejs {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-js:hover {
    color: #ffd208;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-js {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-python:hover {
    color: #004db1;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-python {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-docker:hover {
    color: #4d97f7;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-docker {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-git:hover {
    color: #06b100;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-git {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }

  .fa-linux:hover {
    color: #000000;
    cursor: pointer;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }
  
  .fa-linux {
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
  }